<!-- Begin Page Content -->
<div class="container">
    <form action="/staff/addCourse" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="name"
        />
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Descriptions</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          name="descriptions"
        />
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Course Category</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            name="categoryId"
          >
            <% categories.forEach(function(category) { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-check-circle"></i> Create
      </button>
      <a href="/staff/course">
        <button type="button" class="btn btn-secondary">
          <i class="fas fa-times-circle"></i> Cancel
        </button>
      </a>
    </form>
  </div>